extends ../layouts/master

include ../mixins/form
include ../mixins/chart

block content
    div.small-12.large-12.columns
        p
            a(href="/") back to all

    header.small-12.large-12.columns
        h1= river.name

    div.small-12.large-6.columns.chart-container(style="height:80px")
        +bulletChart(
            id= "sinuosity-"+river._id,
            title= river.name+" Sinuosity",
            ranges= [minSinuosity,averageSinuosity,maxSinuosity],
            measures= [river.sinuosity],
            measureLabels= ['"Sinuosity"'],
            markers= [3.14159265359],
            markerLabels= ['"Pi"']
        )

    div.small-12.large-6.columns.chart-container(style="height:60px")
        +bulletChart(
            id= "length-"+river._id,
            title= river.name+" Length",
            ranges= [minLength,averageLength,maxLength],
            measures= [river.realLength],
            measureLabels= ['"Length"'],
            markers= [river.crowLength],
            markerLabels= ['"Direct Length"']
        )

    div.small-12.large-12.columns
        +form("/river/"+river._id, "post")
            +field(name="name", value=river.name)
            +field(name="countries", label="Country / countries (comma separated)", value=river.countries)
            +field(name="real_length", label="Length (km)", value=river.realLength)
            +field(name="source_lat", label="Source latitude (decimal format)", value=river.source.latitude)
            +field(name="source_lng", label="Source longitude (decimal format)", value=river.source.longitude)
            +field(name="mouth_lat", label="Mouth latitude (decimal format)", value=river.mouth.latitude)
            +field(name="mouth_lng", label="Mouth longitude (decimal format)", value=river.mouth.longitude)

            input(type="submit", value="Update river").button

        +form("/river/"+river._id+"/delete", "post")
            button.secondary(
                type="submit",
                onclick="return confirm('Are you sure?');"
            ) Delete