extends layouts/master

include mixins/form
include mixins/chart

block content
    header.hero.small-12.large-12.columns
        h1 Pi me a River
        h2= statsSinuosity.amean()

    div.small-12.large-6.columns
        p
            iframe(
                width="100%",
                height="500",
                src="//www.youtube.com/embed/TUErNWBOkUM"
                frameborder="0"
                allowfullscreen="true"
            )

    div.small-12.large-6.columns
        h3 Add your river

        ul
            li Please check if your river has already been recorded before finding the data and adding it here.
            li Please use the common anglicised name for the river, e.g. "Rhine" not "Rhein".
            li Remember to use the decimal format for latitude and longitude.
            li And also use a decimal point not a decimal comma e.g. 3.14 not 3,14

        +form("river", "post")
            +field(name="name", label="River name", placeholder="e.g. Amazon"
                error=(riverCreateErrors ? riverCreateErrors.name : false),
                value=(riverCreateData ? riverCreateData.name : false)
            )
            +field(name="countries", label="Country / countries (comma separated)", placeholder="e.g. Brazil, Peru, Columbia"
                error=(riverCreateErrors ? riverCreateErrors.countries : false),
                value=(riverCreateData ? riverCreateData.countries : false)
            )
            +field(name="real_length", label="Length (km)", placeholder="e.g. 6992"
                error=(riverCreateErrors ? riverCreateErrors.real_length : false),
                value=(riverCreateData ? riverCreateData.real_length : false)
            )
            +field(name="source_lat", label="Source latitude (decimal format)", placeholder="e.g. -15.518056"
                error=(riverCreateErrors ? riverCreateErrors.source_lat : false),
                value=(riverCreateData ? riverCreateData.source_lat : false)
            )
            +field(name="source_lng", label="Source longitude (decimal format)", placeholder="e.g. -71.765278"
                error=(riverCreateErrors ? riverCreateErrors.source_lng : false),
                value=(riverCreateData ? riverCreateData.source_lng : false)
            )
            +field(name="mouth_lat", label="Mouth latitude (decimal format)", placeholder="e.g. -0.166667"
                error=(riverCreateErrors ? riverCreateErrors.mouth_lat : false),
                value=(riverCreateData ? riverCreateData.mouth_lat : false)
            )
            +field(name="mouth_lng", label="Mouth longitude (decimal format)", placeholder="e.g. -49.0"
                error=(riverCreateErrors ? riverCreateErrors.mouth_lng : false),
                value=(riverCreateData ? riverCreateData.mouth_lng : false)
            )

            input(type="submit", value="Add your river").button

    div.small-12.large-12.column.chart-container
        h2 Note on accuracy
        p It is worth pointing out that much of this data is approximate or based on guesswork.

        h2 Sinuosity

        h3 Arithmetic Mean
        p= statsSinuosity.amean()

        h3 Standard Deviation
        p= statsSinuosity.stddev()

        h4 Count of rivers
        p= rivers.length

    div.small-12.large-12.column.chart-container
        h3 Distribution

        +discreteBarChart(
            id= "sinuosity-distribution-discrete-bar-chart",
            data= barChartData,
            height= "500px"
        )

    div.small-12.large-12.column.chart-container
        h3 Length vs Sinuosity

        +scatterChart(
            id= "sinuosity-length-scatter-chart",
            data= scatterChartData,
            height= "500px"
        )

    div.small-12.large-12.columns
        h2 Rivers

        each river in rivers
            div.small-12.large-12.columns
                h3
                    a(href="/river/#{river._id}")= river.name
                p= river.countries

            div.small-12.large-6.columns.chart-container(style="height:80px")
                +bulletChart(
                    id= "sinousity-"+river._id,
                    title= river.name+" Sinuosity",
                    ranges= [statsSinuosity.range()[0],statsSinuosity.amean(),statsSinuosity.range()[1]],
                    measures= [river.sinuosity],
                    measureLabels= ['"Sinuosity"'],
                    markers= [3.14159265359],
                    markerLabels= ['"Pi"']
                )

            div.small-12.large-6.columns.chart-container(style="height:60px")
                +bulletChart(
                    id= "length-"+river._id,
                    title= river.name+" Length",
                    ranges= [statsRealLength.range()[0],statsRealLength.amean(),statsRealLength.range()[1]],
                    measures= [river.realLength],
                    measureLabels= ['"Length"'],
                    markers= [river.crowLength],
                    markerLabels= ['"Direct Length"']
                )