extends layouts/master

include mixins/form
include mixins/chart

block content
    header.hero
        h1 Pi Me A River

    div.row
        div.small-12.large-6.columns
            p
                a(href="http://www.youtube.com/watch?v=TUErNWBOkUM") Numberphile

        div.small-12.large-6.columns
            +form("river", "post")
                +field("name")
                +field("real_length")

                p either
                +field("crow_length")

                p or
                +field("source_lat")
                +field("source_lng")
                +field("mouth_lat")
                +field("mouth_lng")

                input(type="submit", value="Add your river").button

    div.row
        div.small-12.large-12.columns
            h2 Is it Pi?
            h3 Average Sinuosity: #{averageSinuosity}

        div.small-12.large-12.columns
            //- canvas(id="sinuosity-chart", width="400", height="400", data-chart="#{chartData}")

    div.small-12.large-12.columns
        each river in rivers
                div.small-12.large-12.columns
                    h2
                        a(href="/river/#{river._id}")= river.name
                div.small-12.large-6.columns
                    +bulletChart(
                        id= river.name.toLowerCase().replace(/ /g, '-')+"-sinuosity",
                        title= river.name+" Sinuosity",
                        ranges= [minSinuosity,averageSinuosity,maxSinuosity],
                        measures= [river.sinuosity],
                        measureLabels= ['"Sinuosity"'],
                        markers= [3.1415],
                        markerLabels= ['"Pi"']
                    )
                div.small-12.large-6.columns
                    +bulletChart(
                        id= river.name.toLowerCase().replace(/ /g, '-')+"-length",
                        title= river.name+" Length",
                        ranges= [minLength,averageLength,maxLength],
                        measures= [river.realLength],
                        measureLabels= ['"Length"'],
                        markers= []
                    )