extends layouts/master

include mixins/form
include mixins/chart

block content
    header.hero.small-12.large-12.columns
        h1 Pi me a River
        h2 Is the average sinuosity of the world's rivers equal to &pi;?

    div.small-12.large-6.column
        h2 What is this?
        p
            | There is a <a href="http://raaf.org/pdfs/meandering_river.pdf">hypothesis</a> that the average sinuosity of the
            | world's rivers should be equal to &pi; (#{Math.PI.toFixed(6)}). Numberphile produced a
            | <a href="https://www.youtube.com/watch?v=TUErNWBOkUM&channel=numberphile">video</a> discussing the idea
            | and stated that there didn't seem to be any recorded data to actually check to see if it is true. This
            | project aims to solve that.

        p
            | Sinuosity is the ratio of the river's length to the straight-line distance between its source and mouth.
            | For example, the Amazon is 6992.0km long and has a direct straight-line distance of 3026.7km, giving it a
            | sinuosity of 6992.0 / 3026.7 = 2.31, notably less than &pi;.

        h2 Notes on accuracy
        p
            | This data has been crowd sourced and so is potentially guesswork and estimations. It is often difficult to
            | find the exact source of a river, and indeed many rivers have multiple sources that are debated. Furthermore
            | some named rivers are tributaries to larger rivers and different lengths are given depending on how you look
            | at the data.

        h2 Results
        p
            | With <strong>#{rivers.length}</strong> rivers the average
            | sinuosity is <strong>#{statsSinuosity.amean().toFixed(6)}</strong>,
            | with a standard deviation of <strong>#{statsSinuosity.stddev().toFixed(6)}</strong>.
        p
            | This is a difference of <strong>#{Math.abs((statsSinuosity.amean() - Math.PI).toFixed(6))}</strong> from &pi;,
            | or an error of <strong>#{Math.abs(((100 * (statsSinuosity.amean() - Math.PI)) / Math.PI).toFixed(6))}%</strong>.

        h3 Distribution
        div.chart-container
            +discreteBarChart(
                id= "sinuosity-distribution-discrete-bar-chart",
                data= distributionChartData,
                height= "200px",
                tooltip= function(key, x, y, e, graph) {
                    return '<h3>Sinuosity: ' + x + '</h3>' +
                           '<p>Rivers: ' + y + '</p>';
                }
            )

        h3 Length vs Sinuosity
        div.chart-container
            +scatterPlusLineChart(
                id= "length-vs-sinuosity-scatter-chart",
                data= lengthVsSinuosityChartData,
                height= "400px",
                tooltip= function(key, x, y, date) {
                    return '';
                },
                tooltipX= function(key, x, y) {
                    return 'Length: ' + x;
                },
                tooltipY= function(key, x, y) {
                    return 'Sinuosity: ' + y;
                }
            )

        h2 Code

        p
            | The code for this project is available at <a href="https://github.com/lsjroberts/pi-me-a-river">github</a>.
            | If you are interested in getting involved, either just submit your local river to the right or contribute
            | and discuss via github.

        h4 Todo

        p
            | I intend to continue updating the site with some interface improvements and potentially importing a massive
            | set of data on rivers to improve the accuracy of the results.

    div.small-12.large-6.column
        h2 Add your river

        ul
            li Please check if your river has already been recorded before finding the data and adding it here.
            li Please use the common anglicised name for the river, e.g. "Rhine" not "Rhein".
            li Remember to use the decimal format for latitude and longitude.
            li And also use a decimal point not a decimal comma e.g. 3.14 not 3,14

        +form("river", "post")
            +field(name="name", label="River name", placeholder="e.g. Amazon"
                error=(riverCreateErrors ? riverCreateErrors.name : false),
                value=(riverCreateData ? riverCreateData.name : false)
            )
            +field(name="countries", label="Country / countries (comma separated)", placeholder="e.g. Brazil, Peru, Columbia"
                error=(riverCreateErrors ? riverCreateErrors.countries : false),
                value=(riverCreateData ? riverCreateData.countries : false)
            )
            +field(name="real_length", label="Length (km)", placeholder="e.g. 6992"
                error=(riverCreateErrors ? riverCreateErrors.real_length : false),
                value=(riverCreateData ? riverCreateData.real_length : false)
            )
            +field(name="source_lat", label="Source latitude (decimal format)", placeholder="e.g. -15.518056"
                error=(riverCreateErrors ? riverCreateErrors.source_lat : false),
                value=(riverCreateData ? riverCreateData.source_lat : false)
            )
            +field(name="source_lng", label="Source longitude (decimal format)", placeholder="e.g. -71.765278"
                error=(riverCreateErrors ? riverCreateErrors.source_lng : false),
                value=(riverCreateData ? riverCreateData.source_lng : false)
            )
            +field(name="mouth_lat", label="Mouth latitude (decimal format)", placeholder="e.g. -0.166667"
                error=(riverCreateErrors ? riverCreateErrors.mouth_lat : false),
                value=(riverCreateData ? riverCreateData.mouth_lat : false)
            )
            +field(name="mouth_lng", label="Mouth longitude (decimal format)", placeholder="e.g. -49.0"
                error=(riverCreateErrors ? riverCreateErrors.mouth_lng : false),
                value=(riverCreateData ? riverCreateData.mouth_lng : false)
            )
            +field(name="comments", type="textarea" label="Any comments regarding the accuracy of the data etc (optional)", placeholder="e.g. The source of this river is under debate"
                error=(riverCreateErrors ? riverCreateErrors.comments : false),
                value=(riverCreateData ? riverCreateData.comment : false)
            )

            br

            input(type="submit", value="Add your river").button


    div.small-12.large-12.column
        hr

    div.small-12.large-12.column
        h2 Rivers

        ol
            each river in rivers
                li
                    a(href="/river/#{river._id}")= river.name
                    |  <small>(#{river.countries})</small>
                    //
                        ul
                            li Sinuosity: #{river.sinuosity.toFixed(6)}
                            li Length: #{river.realLength}
                            li Direct: #{river.crowLength.toFixed(6)}
                            li #{river.countries}