extends layouts/master

include mixins/form
include mixins/chart

block content
    header.hero.small-12.large-12.columns
        h1 Pi me a River
        h2= statsSinuosity.amean()

    div.small-12.large-6.columns
        p
            iframe(
                width="100%",
                height="500",
                src="//www.youtube.com/embed/TUErNWBOkUM"
                frameborder="0"
                allowfullscreen="true"
            )

    div.small-12.large-6.columns
        +form("river", "post")
            +field(name="name")
            +field(name="countries", label="Country / countries (comma separated)")
            +field(name="real_length", label="Length (km)")
            +field(name="source_lat", label="Source latitude (decimal format)")
            +field(name="source_lng", label="Source longitude (decimal format)")
            +field(name="mouth_lat", label="Mouth latitude (decimal format)")
            +field(name="mouth_lng", label="Mouth longitude (decimal format)")

            input(type="submit", value="Add your river").button

    div.small-12.large-12.column.chart-container
        h2 Note on accuracy
        p It is worth pointing out that much of this data is approximate or based on guesswork.

        h2 Sinuosity

        h3 Arithmetic Mean
        p= statsSinuosity.amean()

        h3 Standard Deviation
        p= statsSinuosity.stddev()

        h4 Count of rivers
        p= rivers.length

    div.small-12.large-12.column.chart-container
        h3 Distribution

        +discreteBarChart(
            id= "sinuosity-distribution-discrete-bar-chart",
            data= barChartData,
            height= "500px"
        )

    div.small-12.large-12.column.chart-container
        h3 Length vs Sinuosity

        +scatterChart(
            id= "sinuosity-length-scatter-chart",
            data= scatterChartData,
            height= "500px"
        )

    div.small-12.large-12.columns
        h2 Rivers

        include river/index