mixin form(action, method)
    form(action= action, method= method)
        if block
            block
        else
            p no form provided

mixin field()
    -var unslugify = function(input) {
    -   return input.charAt(0).toUpperCase() + input.slice(1).toLowerCase().replace(/[-|_](.)/g, function(match, group1) {
    -       return ' ' + group1.toUpperCase();
    -   });
    -}

    unless attributes.type
        case attributes.name
            when "password"
                - attributes.type= "password"
            when "password_confirmation"
                - attributes.type= "password"
            default
                - attributes.type= "text"

    unless attributes.label
        - attributes.label= unslugify(attributes.name)

    div.field
        if attributes.error
            label.error= attributes.label
            input(
                type= attributes.type,
                name= attributes.name,
                value= attributes.value,
                placeholder= attributes.placeholder
            ).error
            small.error= attributes.error.msg
        else
            label= attributes.label
            input(
                type= attributes.type,
                name= attributes.name,
                value= attributes.value,
                placeholder= attributes.placeholder
            )